.event-container {
  background-color: #eaf2ce;
  width: 60vw;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #eaf2ce;
}
::-webkit-scrollbar-thumb {
  background: #17aa52;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d5e2e;
}
